<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">

	<!-- import CSS -->
	<link rel="stylesheet" href="/assets/css/app.css">
</head>
<body>

	<div id="app">

	</div>
</body>
<!-- import JS -->
<script src="/assets/js/app.js"></script>
</html>
