
body
	background-color: #f0f8ff
	font-family: 'Krub', sans-serif
	font-weight: light

*
	font-family: 'Krub', sans-serif
	font-weight: lighter


h1, h2, h3, h4, h5
	font-weight: lighter
	color: #678

.img
	display: block
	margin: 8px auto

.container
	width: 82%
	margin: 0 auto

.text-center
	text-align: center

.bordered
	border: 1px solid #ccc

// for themify-icons as slots
.ti-slot
	padding: 11px 4px
	display: inline-block
